.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    /* Ensure it appears on top */
}

/* Spinner style */
.spinner-border {
    width: 4rem;
    height: 4rem;
}