.toast-success {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toast-error {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toast-container {
    bottom: 20px;
    right: 20px;
}